{% extends "quartus/quartus-base-makefile.j2" %}
{% block qsys_recipe %}
{% for qsys_file in src_files if qsys_file|qsys_file_filter %}
	qsys-generate {{ qsys_file|qsys_file_filter }} --synthesis=VERILOG --family="{{ tool_options.family }}" --part={{ tool_options.device }} --quartus-project=$(NAME)
{% endfor %}
{% endblock %}
{% block syn_exe %}quartus_syn{% endblock %}

